@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@600&display=swap');
*{
    font-family: 'Kanit',sans-serif;
    color: #ffffff;
}
body{
    background-color: rgba(30, 30, 30, 1);
}
.button_me{
    color: brown;
}
