/* Add font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

/* All Class using same dataset*/
:root{
    /* Define Variables*/
    --backgroundcolor : #1F1F1F; /* background color*/
    --accentHover : ; /* mouse cursor */
    --transition : all 0.3s ease 0s;  /* Delay Tiome */
}
/* All Section */
*{
    /*clear margin and padding */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins";
}

html,body{
    height: 100%; /*Fixed height using scool*/
    overflow: hidden;
}

body{
    background-color: #1F1F1F;
    color: #ffffff;
}

.button_me, .logo{
    cursor: pointer; /*link Elemnet */
}

main{
    height: 100%;
    display: grid;
    grid-template-columns: minmax(60px, 1fr) repeat(6,minmax(50px, 190px)) minmax(60px,1fr);

}

header{
    grid-column: 2 / span 6; /* heder start 2 and other last colum*/
}
nav{
    display: flex;
    align-items: center;
    height: 100px;
}

/* class */
.links{       /* Nagivation Bar */
    margin-left: auto;
}

.links a, .links button{  
    color: #ffffff;
    font-size: 22px;
    font-weight: 400;
    transition: var(--transition);
}
.links a{
    margin-right: 40px;
}

.links a:hover{
    color: var(--accentHover); /* cursor hover */
}

/*  View About Me Button effect */
button{
    padding: 20px 50px;
    font-size: 1.5rem;
    cursor: pointer;
    border: 0px;
    background: transparent;
    position: relative;
    margin: 20px;
    transition:all 0.25s ease ;
    color:#ffffff ;
}

.btn-5:hover{
    color: #ffffff;
}
.btn-5:hover::after{
    transform: scale(1);
    opacity: 1;
}

.btn-5::after{
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 30px;
    position: absolute;
    top: 0;
    left: 0;
    transition: scale(.1);
    background: #000;
    z-index: -1;
    opacity: 0;
    transition: all 0.25s ease;
}
/* End View About Me Button effect */


/* Content */
.info{
    grid-column: 2 / span 4;
    margin-top: 100px;
    text-align: left;
}
.content_font1{
    font-size: 18px;
}
.content_font2{
    font-size: 40px;
}
.content_font3{
    font-size: 40px;
    margin-left: 15%;
}

.img_me1{
    position: relative;
    margin-top: -120px;
} 

.img_me2{
    margin-top: -700px;
    position: absolute;
    right: -250px;
}